.startButton {
    border:none;
    border-radius: 50px;
    font-size:20px;
    margin:0 auto;
    color:white;
    background: rgba(255,255,0,0.15);
}

.playerCash, .roundNumber  {
    color: #fff;
    background-color:#111;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
}

.playerCash {
    background-color: rgba(218,112,214,0.15);
}

.winnings {
    background-color:rgba(65,105,225,0.15);
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px dodgerblue, 0 0 30px dodgerblue, 0 0 40px dodgerblue, 0 0 55px dodgerblue, 0 0 75px dodgerblue;
}

.roundNumber {
    background-color: rgba(60,179,113,0.15);
    color:white;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #66FF66, 0 0 30px #66FF66, 0 0 40px #66FF66, 0 0 55px #66FF66, 0 0 75px #66FF66;
}

.topButtons {
    display: flex;
    justify-content: center;
}

.winnings {
    margin:0 auto;
    width:200px;
}