@import 'setup';
@import 'slotImages';
@import 'buttons';
@import 'mediaQueries';

.backgroundImage {
    background: linear-gradient(to right, #16222a, #3a6073);
    background-image: url(../assets/backgroundImage.jpg);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    height:96vh;
}

.wrapper {
    max-width:1200px;
    width:80%;
    margin:0 auto;
    position: relative;
}


ul li {
    list-style: none;
}

.strikeOutText {
    text-decoration: line-through;
}

h1 {
    font-family: 'Dosis', Helvetica, Arial, sans-serif;
    color:azure;
    text-align: center;
    padding-top:80px;
    padding-bottom:20px;
    margin-top:0;
    font-size:70px;
    letter-spacing: 5px;
    font-weight: 900;
    animation: neonGlow 0.9s infinite alternate $easeInOutQuad;
    span {
        font-size:20px;
    }
}

$speed: 0.5s;

.startButton{
    opacity: 1;
    outline: 0;
    color: #fff;
    line-height: 40px;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    font-size:30px;
    
    &:hover{
        &:after{
            opacity: 1;
            transform: translateY(0) rotateX(0);
            padding-top:30px;
        }
        
        &:before{
            opacity: 0;
            transform: translateY(50%) rotateX(90deg);
        }
    }
    
    &:after{
        top: 0;
        left: 0;
        bottom:0;
        right:0;
        opacity: 0;
        width: 100%;
        display: block;
        transition: $speed;
        position: absolute;
        background: #111;
        content: attr(data-back);
        transform: translateY(-50%) rotateX(90deg);
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #00FF7F, 0 0 30px #00FF7F, 0 0 40px #00FF7F, 0 0 55px #00FF7F, 0 0 75px #00FF7F;
        border-radius: 40px;
    }
    
    &:before{
        top: 0;
        left: 0;
        opacity: 1;
        display: block;
        padding: 0 30px;
        line-height: 40px;
        transition: $speed;
        position: relative;
        background: rgba(255,255,0,0.0);
        content: attr(data-front);
        transform: translateY(0) rotateX(0);
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #FFFF00, 0 0 30px #FFFF00, 0 0 40px #FFFF00, 0 0 55px #FFFF00, 0 0 75px #FFFF00;
        border-radius: 40px;
    }
}


footer {
    background-color:#111;
    color:white;
    text-align: center;
    height:4vh;
    p {
        margin:0 auto;
        font-size:20px;
        height:100%;
        padding-top:10px;
    }
}

// H1 glow animation thanks to Val Head: https://codepen.io/valhead/pen/djHoD
// Start Button thanks to Alex Moore: https://codepen.io/MoorLex/pen/NBwNZa
