@import 'setup';
@import 'slotImages';
@import 'buttons';
@import 'messageDialogBox';

body {
    // background-color:#090000;
    background: linear-gradient(to right, #16222a, #3a6073);
    // background-image: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
    // background: linear-gradient(to right, #7474bf, #348ac7);

    background-image: url(../assets/backgroundImage.jpg);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    height:96vh;
    
}

ul li {
    list-style: none;
}

.strikeOutText {
    text-decoration: line-through;
}

@font-face {
  font-family: 'Neon';
  src: url('../assets/Neon.ttf')  format('truetype'), /* Safari, Android, iOS */
}

h1 {
    font-family: 'Dosis', Helvetica, Arial, sans-serif;
    color:azure;
}

.wrapper {
    max-width:1200px;
    width:80%;
    margin:0 auto;
    position: relative;
}


// body{
//     width: 100vw;
//     height: 100vh;
//     display: flex;
//     position: relative;
//     background: #1e1e24;
//     align-items: center;
//     justify-content: center;
// }

$speed: 0.5s;

.btn-flip{
    opacity: 1;
    outline: 0;
    color: #fff;
    line-height: 40px;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    font-size:30px;
    
    &:hover{
        
        &:after{
            opacity: 1;
            transform: translateY(0) rotateX(0);
        }
        
        &:before{
            opacity: 0;
            transform: translateY(50%) rotateX(90deg);
        }
    }
    
    &:after{
        top: 0;
        left: 0;
        bottom:0;
        right:0;
        padding-top:30px;
        opacity: 0;
        width: 100%;
        // color: #323237;
        display: block;
        transition: $speed;
        position: absolute;
        background: #111;
        content: attr(data-back);
        transform: translateY(-50%) rotateX(90deg);
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #00FF7F, 0 0 30px #00FF7F, 0 0 40px #00FF7F, 0 0 55px #00FF7F, 0 0 75px #00FF7F;
        border-radius: 40px;
    }
    
    &:before{
        top: 0;
        left: 0;
        opacity: 1;
        display: block;
        padding: 0 30px;
        line-height: 40px;
        transition: $speed;
        position: relative;
        background: rgba(255,255,0,0.0);
        content: attr(data-front);
        transform: translateY(0) rotateX(0);
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #FFFF00, 0 0 30px #FFFF00, 0 0 40px #FFFF00, 0 0 55px #FFFF00, 0 0 75px #FFFF00;
        border-radius: 40px;
    }
}

// H1 glow animation courtesy of https://codepen.io/valhead/pen/djHoD;
