article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.slots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 400px;
}

.slots .slot1, .slots .slot2, .slots .slot3 {
  height: 100px;
  margin: 25px 0;
}

img {
  height: 150px;
  width: 150px;
  border-radius: 10px;
  background-color: rgba(1, 3, 31, 0.8);
  -webkit-box-shadow: 1px 1px 300px 20px blueviolet;
          box-shadow: 1px 1px 300px 20px blueviolet;
}

h1 {
  text-align: center;
  padding-top: 50px;
  font-size: 70px;
  font-weight: 900;
  -webkit-animation: neonGlow 0.9s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
          animation: neonGlow 0.9s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

h1 span {
  font-size: 20px;
}

@-webkit-keyframes neonGlow {
  0% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8), 0 0 22px rgba(255, 255, 255, 0.8), 0 0 40px rgba(66, 220, 219, 0.8), 0 0 60px rgba(66, 220, 219, 0.8), 0 0 80px rgba(66, 220, 219, 0.5), 0 0 100px rgba(66, 220, 219, 0.5), 0 0 140px rgba(66, 220, 219, 0.5), 0 0 200px rgba(66, 220, 219, 0.5);
  }
  100% {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.8), 0 0 8px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(66, 220, 219, 0.8), 0 0 30px rgba(66, 220, 219, 0.8), 0 0 40px rgba(66, 220, 219, 0.8), 0 0 50px rgba(66, 220, 219, 0.5), 0 0 80px rgba(66, 220, 219, 0.5);
  }
}

@keyframes neonGlow {
  0% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8), 0 0 22px rgba(255, 255, 255, 0.8), 0 0 40px rgba(66, 220, 219, 0.8), 0 0 60px rgba(66, 220, 219, 0.8), 0 0 80px rgba(66, 220, 219, 0.5), 0 0 100px rgba(66, 220, 219, 0.5), 0 0 140px rgba(66, 220, 219, 0.5), 0 0 200px rgba(66, 220, 219, 0.5);
  }
  100% {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.8), 0 0 8px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(66, 220, 219, 0.8), 0 0 30px rgba(66, 220, 219, 0.8), 0 0 40px rgba(66, 220, 219, 0.8), 0 0 50px rgba(66, 220, 219, 0.5), 0 0 80px rgba(66, 220, 219, 0.5);
  }
}

.playerCash, .roundNumber, .winnings {
  padding: 15px 15px;
  width: 150px;
  border-radius: 5px;
  background-color: #001f3f;
  font-size: 20px;
  color: white;
  text-align: center;
}

.playerCash, .roundNumber, .winnings {
  width: 200px;
  font-size: 30px;
  font-family: 'Quicksand', sans-serif;
}

.startButton {
  padding: 15px 40px;
  border: none;
  border-radius: 40px;
  font-size: 20px;
  margin: 0 auto;
  color: white;
  background: rgba(255, 255, 0, 0.15);
}

.playerCash, .roundNumber {
  color: #fff;
  background-color: #111;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
}

.playerCash {
  background-color: rgba(218, 112, 214, 0.15);
}

.winnings {
  background-color: rgba(65, 105, 225, 0.15);
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px dodgerblue, 0 0 30px dodgerblue, 0 0 40px dodgerblue, 0 0 55px dodgerblue, 0 0 75px dodgerblue;
}

.roundNumber {
  background-color: rgba(60, 179, 113, 0.15);
  color: white;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #66FF66, 0 0 30px #66FF66, 0 0 40px #66FF66, 0 0 55px #66FF66, 0 0 75px #66FF66;
}

.topButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.winnings {
  margin: 0 auto;
  width: 200px;
}

.messageDialog {
  width: 700px;
  height: 500px;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 100px;
  text-align: center;
  border: 2px solid crimson;
  display: none;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50px;
}

.messageDialog .restartButton {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

body {
  background: -webkit-gradient(linear, left top, right top, from(#16222a), to(#3a6073));
  background: linear-gradient(to right, #16222a, #3a6073);
  background-image: url(../assets/backgroundImage.jpg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  height: 96vh;
}

ul li {
  list-style: none;
}

.strikeOutText {
  text-decoration: line-through;
}

@font-face {
  font-family: 'Neon';
  src: url("../assets/Neon.ttf") format("truetype");
}

h1 {
  font-family: 'Dosis', Helvetica, Arial, sans-serif;
  color: azure;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.btn-flip {
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  font-size: 30px;
}

.btn-flip:hover:after {
  opacity: 1;
  -webkit-transform: translateY(0) rotateX(0);
          transform: translateY(0) rotateX(0);
}

.btn-flip:hover:before {
  opacity: 0;
  -webkit-transform: translateY(50%) rotateX(90deg);
          transform: translateY(50%) rotateX(90deg);
}

.btn-flip:after {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-top: 30px;
  opacity: 0;
  width: 100%;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  background: #111;
  content: attr(data-back);
  -webkit-transform: translateY(-50%) rotateX(90deg);
          transform: translateY(-50%) rotateX(90deg);
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #00FF7F, 0 0 30px #00FF7F, 0 0 40px #00FF7F, 0 0 55px #00FF7F, 0 0 75px #00FF7F;
  border-radius: 40px;
}

.btn-flip:before {
  top: 0;
  left: 0;
  opacity: 1;
  display: block;
  padding: 0 30px;
  line-height: 40px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  background: rgba(255, 255, 0, 0);
  content: attr(data-front);
  -webkit-transform: translateY(0) rotateX(0);
          transform: translateY(0) rotateX(0);
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #FFFF00, 0 0 30px #FFFF00, 0 0 40px #FFFF00, 0 0 55px #FFFF00, 0 0 75px #FFFF00;
  border-radius: 40px;
}
